@page "/BinomialDistribution"

@inject IJSRuntime JSRuntime

<div style="float: left;">
    <button class="btn btn-primary" @onclick="GenerateDistribution">Generate Samples from Binomial Distribution</button>
    <dl>
        <dt>Mean:</dt>
        <dd>@mean</dd>
        <dt>Variance:</dt>
        <dd>@variance</dd>
        <dt>Time to generate data (ms):</dt>
        <dd>@TimeToGenerateData</dd>
        <dt>Probability:</dt>
        <dd>
            <input id="probabilityInput" type="range" class="" style="width: 70%;" min="0.0" max="1.0" step="0.1"
                   @bind-value="@this.Probability" oninput="probabilityOutput.value=probabilityInput.value" />
            <output name="probabilityOutput" id="probabilityOutput" for="probabilityInput">@this.Probability</output>
        </dd>
        <dt>SamplesSize:</dt>
        <dd>
            <input id="samplesSizeInput" type="range" class="" style="width: 70%;" min="250" max="20000" step="250"
                   @bind-value="@this.SamplesSize" oninput="samplesSizeOutput.value=samplesSizeInput.value" />
            <output name="samplesSizeOutput" id="samplesSizeOutput" for="samplesSizeInput">@this.SamplesSize</output>
        </dd>
    </dl>
</div>

<p />
<!-- Create a div where the graph will take place -->
<div id="my_dataviz" style="clear: both;"></div>


@code {

    public double Probability { get; set; }
    public int SamplesSize { get; set; }
    public double TimeToGenerateData { get; set; }

    public class Data
    {
        public double Y;
    }

    public List<Data> samples = new List<Data>(1000);
    double mean, variance, entropy;

    protected override void OnInitialized()
    {
        this.Probability = 0.6;
        this.SamplesSize = 2500;
        this.TimeToGenerateData = 0.0;

        base.OnInitialized();
    }

    private async Task GenerateDistribution()
    {
        var dateTime = DateTime.Now;

        // create a parametrized distribution instance
        var binomaial = new MathNet.Numerics.Distributions.Binomial(this.Probability, 100);

        //// distribution properties
        mean = binomaial.Mean;
        variance = binomaial.Variance;
        entropy = binomaial.Entropy;
        this.Probability = binomaial.P;

        //double c = binomaial.CumulativeDistribution(0.6); // CDF

        // non-uniform number sampling
        var samplesArray = binomaial.Samples().Take(this.SamplesSize).ToArray();
        await JSRuntime.InvokeVoidAsync("createD3SvgObject", samplesArray, mean);

        var dateTimeElapsed = (DateTime.Now - dateTime).TotalMilliseconds;
        this.TimeToGenerateData = dateTimeElapsed;
    }
}
