@page "/GeometricDistribution"

@using Syncfusion.Blazor.Charts
@using Syncfusion.Blazor.Inputs

<div style="float: left;">
    <button class="btn btn-primary" @onclick="GenerateDistribution">Generate Samples from Geometric Distribution</button>
    <dl>
        <dt>Mean:</dt>
        <dd>@mean</dd>
        <dt>Variance:</dt>
        <dd>@variance</dd>
        <dt>Time To generate data (ms):</dt>
        <dd>@TimeToGenerateData</dd>
        <dt>Probability:</dt>
        <dd>
            <SfSlider Min="0.0" Max="1.0" Step="0.1" @bind-Value="@this.Probability" Width="250" ShowButtons="true">
                <SliderTooltipData IsVisible="true" ShowOn="TooltipShowOn.Always" Placement="TooltipPlacement.After"></SliderTooltipData>
                <SliderTicksData Placement="Placement.After" ShowSmallTicks="true" LargeStep="0.5" SmallStep="0.1"></SliderTicksData>
            </SfSlider>
        </dd>
        <dt>SamplesSize:</dt>
        <dd>
            <SfSlider Min="0" Max="20000" Step="500" @bind-Value="@this.SamplesSize" Width="250" ShowButtons="true">
                <SliderTooltipData IsVisible="true" ShowOn="TooltipShowOn.Always" Placement="TooltipPlacement.After"></SliderTooltipData>
                <SliderTicksData Placement="Placement.After" ShowSmallTicks="true" LargeStep="2000" SmallStep="500"></SliderTicksData>
            </SfSlider>
        </dd>
    </dl>
</div>

<p />

<div style="clear: both;">
    <SfChart Title="Geometric Sampling Disitribution">
        <ChartArea><ChartAreaBorder Width="0"></ChartAreaBorder></ChartArea>

        <ChartPrimaryXAxis Minimum="0">
            <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
        </ChartPrimaryXAxis>

        <ChartPrimaryYAxis Minimum="0" Title="Number of Trials Before First Success">
            <ChartAxisMajorGridLines Width="0"></ChartAxisMajorGridLines>
        </ChartPrimaryYAxis>

        <ChartSeriesCollection>
            <ChartSeries DataSource="@samples" YName="Y" Type="ChartSeriesType.Histogram" BinInterval="1" ShowNormalDistribution="false" ColumnWidth="0.99">
                <ChartMarker Visible="true" Height="10" Width="10">
                    <ChartDataLabel Visible="true" Position="LabelPosition.Top">
                        <ChartDataLabelFont Color="#ffffff" FontWeight="600"></ChartDataLabelFont>
                    </ChartDataLabel>
                </ChartMarker>
            </ChartSeries>
        </ChartSeriesCollection>

        <ChartTooltipSettings Enable="true"></ChartTooltipSettings>
    </SfChart>
</div>


@code {

    public double Probability { get; set; }
    public int SamplesSize { get; set; }
    public double TimeToGenerateData { get; set; }

    public class Data
    {
        public double Y;
    }

    public List<Data> samples = new List<Data>(1000);
    double mean, variance, entropy;

    protected override void OnInitialized()
    {
        this.Probability = 0.6;
        this.SamplesSize = 2500;
        this.TimeToGenerateData = 0.0;

        base.OnInitialized();
    }

    private void GenerateDistribution()
    {
        var dateTime = DateTime.Now;

        // create a parametrized distribution instance
        var geometric = new MathNet.Numerics.Distributions.Geometric(this.Probability);

        //// distribution properties
        mean = geometric.Mean;
        variance = geometric.Variance;
        entropy = geometric.Entropy;
        this.Probability = geometric.P;

        //double c = geometric.CumulativeDistribution(0.6); // CDF

        // non-uniform number sampling
        //var samples = new double[100];
        samples = geometric.Samples().Take(this.SamplesSize).Select(a => new Data { Y = a }).ToList();

        var dateTimeElapsed = (DateTime.Now - dateTime).TotalMilliseconds;
        this.TimeToGenerateData = dateTimeElapsed;
    }
}
